#NavBar {

    margin-right: 20px

}

#About{

  background-color: blue;
  margin-top: 60px;
}

#Projects{

background-color: red;

}

#Contact{

background-color: green;

}

#Intro{

    font-size: 26px;
    text-align: center;

}

#projectTitle{

    text-align: center;
    font-size: 30px;

}

.portfolioPic{

  padding-top: 20px;

}

.easleyPic{



}
.divHead{

    font-size: 36px;
    text-align: center;

}
