#NavBar {

    margin-right: 20px

}

#About{

  background-color: blue;
  margin-top: 60px;
  margin-bottom: 0px;
}

#Projects{

background-color: red;
margin-top: 0px;
margin-bottom: 0px;

}

#Contact{

background-color: green;
margin-top: 0px;
margin-bottom: 0px;

}

#Links{

    background-color: yellow;
    margin-top: 0px;
    margin-bottom: 0px;
}

#Intro{

    font-size: 26px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;

}

#projectTitle{

    text-align: center;
    font-size: 30px;

}

.portfolioPic{

  padding-top: 20px;
  border-radius: 50%

}

.easleyPic{

    margin: 10px 10px 10px 10px;

}
.divHead{

    font-size: 36px;
    text-align: center;

}

p {

    font-size: 20px;

}
