#NavBar {

    padding-right: 30px;
    background-color: #0099cc;
    color: white;
}

#About{

  background-color: #CCFFCC;
  margin-top: 60px;
  margin-bottom: 0px;
}

#Projects{

background-color: #66ccff;
margin-top: 0px;
margin-bottom: 0px;

}

#Contact{

background-color: #CCFFCC;
margin-top: 0px;
margin-bottom: 0px;

}

#Links{

    background-color: yellow;
    margin-top: 0px;
    margin-bottom: 0px;
}

#Intro{

    font-size: 26px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;

}

#projectTitle{

    text-align: center;
    font-size: 30px;

}

#background{

    background-color: 003399;
    font-family: exo, sans-serif;
}

.portfolioPic{

  padding-top: 20px;
  border-radius: 50%

}

.easleyPic{

    margin: 10px 10px 10px 10px;

}
.divHead{

    font-size: 36px;
    text-align: center;

}

.fontColor{

    color: white;

}

p {

    font-size: 20px;

}
